<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″ />
    <title>bilibili</title>
</head>
<body>
<div>
    <!--<div style="background: url('../image/head_img.jpg');filter: blur(2px);background-repeat: no-repeat"></div>-->
    <div><!--image--><!--背景图片 模糊-->
        <img src="../image/head2_img.png" style="width: 100%;height: auto;filter: blur(2px)" class="img-rounded">
    </div>
    <div style="position:absolute;top: 0%;width: 100%;background-color: rgba(0,0,0,0.3)"><!--位置绝对，距离顶部为0%，宽度为全屏宽度,设置透明度，否则分辨不出导航栏-->
        <ul class="nav nav-pills">
            <li class="active" style="padding-left: 3%;">
                <a href="/index" class="btn btn-success">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="#">画板</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    导航<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/index/category" th:href="@{/index/category(videoType=动漫)}">动漫</a>
                    </li>
                    <li>
                        <a href="/index/category" th:href="@{/index/category(videoType=科技)}">科技</a>
                    </li>
                    <li>
                        <a href="/index/category" th:href="@{/index/category(videoType=电影)}">电影</a>
                    </li>
                </ul>
            </li>
            <li style="margin-left: 45%">
                <div class="input-group" style="width: 300px">
                    <input type="text" class="form-control" placeholder="soso" aria-describedby="addon">
                    <span class="input-group-addon" id="addon">搜索</span>
                </div>
            </li>
            <li style="margin-left: 4%" th:if="${username}==null">
                <a href="/login" class="btn btn-success">登录</a>
            </li>
            <li style="margin-left: 1%" th:if="${username}==null">
                <a href="/register" class="btn btn-primary">注册</a>
            </li>
            <li style="margin-left: 4%" th:if="${session.sessionUsername}!=null">
                <a href="/profile" class="btn btn-success">
                    <span style="width: content-box;height: content-box" th:text="${session.nickName}"></span>
                </a>
            </li>
            <li style="margin-left: 1%" th:if="${session.sessionUsername}!=null">
                <a href="/logOut" class="ben btn-warning">登出</a>
            </li>
        </ul>
    </div>
</div>
<!--<div>&lt;!&ndash;image&ndash;&gt;
    <img src="../image/head2_img.png" style="width: 100%;height: auto" class="img-rounded">
</div>-->
</body>
</html>