<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″ />
    <title>bilibili</title>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css"><!--图标字体库-->
</head>
<body>
<div ng-app="app" ng-controller="myCtrl">
    <div th:include="header.html"></div><!--header导航栏-->
    <div style="width: 80%;margin: 1% auto">
        <!--轮播图-->
        <div id="myCarousel" class="carousel slide" style="width: 100%;height: 320px; margin: 1% auto">
            <!--轮播指标-->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0"></li>
                <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!--轮播项目-->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="/index/category" th:href="@{/index/category(videoType=科技)}">
                        <img src="/image/keji5.jpg" alt="First slide" class="center-block" style="width: 100%;height: 320px">
                        <div class="carousel-caption">科技</div>
                    </a>
                </div>
                <div class="item">
                    <a href="/index/category" th:href="@{/index/category(videoType=动漫)}">
                        <img src="../image/dongman3.jpg" alt="Second slide" class="center-block" style="width: 100%;height: 320px">
                        <div class="carousel-caption">动漫</div>
                    </a>
                </div>
                <div class="item">
                    <a href="/index/category" th:href="@{/index/category(videoType=电影)}">
                        <img src="../image/dianying2.jpg" align="Third slide" class="center-block" style="width: 100%;height: 320px">
                        <div class="carousel-caption">电影</div>
                    </a>
                </div>
            </div>
            <!--轮播导航-->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!--第一个面板-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    <!--<img src="../image/icon.svg" style="width: 2%;height: auto"></img>-->
                    <span class="fa fa-camera-retro" style="color: deepskyblue"> 动漫</span>
                    <a href="/index/category" th:href="@{/index/category(videoType=动漫)}" style="margin-left: 85%">更多</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" ng-repeat="video in videos | filter:{videoType:'动漫'}|limitTo:8">
                            <div style="width: 100%;height: 80%;margin-bottom: 30px">
                                <div>
                                    <a href="/index/showVideo?videoPath={{video.videoPath}}&videoId={{video.videoId}}">
                                        <img src="{{video.videoCoverPath}}" class="img-thumbnail"
                                             style="width: 100%;height: 200px;">
                                    </a>
                                </div>
                                <div>
                                    <a href="/index/showVideo?videoPath={{video.videoPath}}&videoId={{video.videoId}}"
                                       style="width: 100px">
                                        {{video.videoTitle}}
                                    </a>
                                    <span style="float: right">播放：{{video.videoWatchCount}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--第二个面板-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-sd-video">科技</span>
                <a href="/index/category" th:href="@{/index/category(videoType=科技)}" style="margin-left: 85%">更多</a>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" ng-repeat="video in videos | filter:{videoType:'科技'}|limitTo:8">
                            <div style="width: 100%;height: 80%;margin-bottom: 30px">
                                <div>
                                    <a href="/index/showVideo?videoPath={{video.videoPath}}&videoId={{video.videoId}}">
                                        <img src="{{video.videoCoverPath}}" class="img-thumbnail"
                                             style="width: 100%;height: 200px;">
                                    </a>
                                </div>
                                <div>
                                    <a href="/index/showVideo?videoPath={{video.videoPath}}&videoId={{video.videoId}}"
                                       style="width: 100px">
                                        {{video.videoTitle}}
                                    </a>
                                    <span style="float: right">播放：{{video.videoWatchCount}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--第三个面板-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-sd-video">电影</span>
                <a href="/index/category" th:href="@{/index/category(videoType=电影)}" style="margin-left: 85%">更多</a>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" ng-repeat="video in videos | filter:{videoType:'电影'}|limitTo:8">
                            <div style="width: 100%;height: 80%;margin-bottom: 30px">
                                <div>
                                    <a href="/index/showVideo?videoPath={{video.videoPath}}&videoId={{video.videoId}}">
                                        <img src="{{video.videoCoverPath}}" class="img-thumbnail"
                                             style="width: 100%;height: 200px;">
                                    </a>
                                </div>
                                <div>
                                    <a href="/index/showVideo?videoPath={{video.videoPath}}&videoId={{video.videoId}}"
                                       style="width: 100px">
                                        {{video.videoTitle}}
                                    </a>
                                    <span style="float: right">播放：{{video.videoWatchCount}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var myApp = angular.module('app', []);
    myApp.controller('myCtrl', function ($scope, $http) {
        $http({
            method: "GET",
            url: '/index/showAllVideo',
        }).then(function successCallback(response) {
            $scope.videos = response.data;
        }, function errorCallback(response) {

        });


    });
</script>
</body>
</html>