<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″ />
    <title>bilibili</title>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css"><!--图标字体库-->
</head>
<body>
<div ng-app="app" ng-controller="myCtrl">
    <div th:include="header.html"></div><!--header导航栏-->
    <!--第一个面板-->
    <div class="panel panel-default" style="padding-bottom: 20px">
        <div class="panel-heading" style="align-content: center">
            <div>
                <span class="glyphicon glyphicon-modal-window"> 动漫</span>
                <a href="/index/category" th:href="@{/index/category(videoType=动漫)}" style="margin-left: 85%">更多</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" ng-repeat="video in videos | filter:{videoType:'动漫'}">
                        <div style="width: 205px;height: 165px;margin-bottom: 30px">
                            <a href="/index/showVideo?videoPath={{video.videoPath}}&videoId={{video.videoId}}">
                                <img src="{{video.videoCoverPath}}" style="width: 200px;height: 160px"
                                     class="img-thumbnail">
                            </a>
                            <a href="/index/showVideo?videoPath={{video.videoPath}}">
                                {{video.videoTitle}} {{video.videoWatchCount}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--第二个面板-->
    <div class="panel panel-default" style="padding-bottom: 30px">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-sd-video">科技</span>
            <a href="/index/category" th:href="@{/index/category(videoType=科技)}" style="margin-left: 85%">更多</a>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" ng-repeat="video in videos | filter:{videoType:'科技'}">
                        <div style="width: 205px;height: 165px;margin-bottom: 30px">
                            <a href="/index/showVideo?videoPath={{video.videoPath}}">
                                <img src="{{video.videoCoverPath}}" style="width: 200px;height: 160px"
                                     class="img-thumbnail">
                            </a>
                            <a href="/index/showVideo?videoPath={{video.videoPath}}" style="width: 100px">
                                {{video.videoTitle}} {{video.videoWatchCount}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--第三个面板-->
    <div class="panel panel-default" style="padding-bottom: 30px">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-sd-video">电影</span>
            <a href="/index/category" th:href="@{/index/category(videoType=电影)}" style="margin-left: 85%">更多</a>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" ng-repeat="video in videos | filter:{videoType:'电影'}">
                        <div style="width: 205px;height: 165px;margin-bottom: 30px">
                            <a href="/index/showVideo?videoPath={{video.videoPath}}">
                                <img src="{{video.videoCoverPath}}" style="width: 200px;height: 160px"
                                     class="img-thumbnail">
                            </a>
                            <a href="/index/showVideo?videoPath={{video.videoPath}}" style="width: 100px">
                                {{video.videoTitle}} {{video.videoWatchCount}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    var myApp = angular.module('app', []);
    myApp.controller('myCtrl', function ($scope, $http) {

        $http({
            method: "GET",
            url: '/index/showAllVideo',
        }).then(function successCallback(response) {
            $scope.videos = response.data;
        }, function errorCallback(response) {

        });


    });
</script>
</body>
</html>