<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″ />
    <title>regist</title>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css"><!--图标字体库-->
</head>
<body>
<div th:include="header.html"></div><!--header导航栏-->
<div style="width: 200px;margin: 0.5% auto;color: red" >
    <span th:text="${session.msg}"></span>
</div>
<form style="width: 33%;margin-left: 33%;margin-top: 2%" action="/addRegister" method="post" name="myForm">
    <div class="form-group">
        <label for="username">用户名：</label>
        <input type="text" class="form-control" id="username" name="username" ng-model="username" placeholder="用户名" required="required">
    </div>
    <div class="form-group">
        <label for="password">密码：</label>
        <input type="password" class="form-control" id="password" name="password" ng-model="password" placeholder="密码" required="required">
    </div>
    <div class="form-group">
        <label for="nickName">昵称：</label>
        <input type="text" class="form-control" id="nickName" name="nickName" placeholder="昵称" required="required">
    </div>
    <div class="form-group">
        <label for="email">邮箱：</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="邮箱">
    </div>
    <!--<div class="form-group">
        <label for="gender">性别：</label>
        <input type="text" class="form-control" id="gender" name="gender" placeholder="性别">
    </div>-->
    <div class="form-group">
        <label>性别：</label>
        <div class="radio">
            <label>
                <input type="radio" name="gender" id="male" value="男生" checked>男生
            </label>
            <label>
                <input type="radio" name="gender" id="female" value="女生" checked>女生
            </label>
            <label>
                <input type="radio" name="gender" id="secret" value="保密" checked>保密
            </label>
        </div>
    </div>
    <!--<div class="form-group">
        <label for="birthday">生日：</label>
        <input type="date" class="form-control" id="birthday" name="birthday" placeholder="生日">
    </div>-->
    <!--<div class="form-group">
        <label for="image">头像：</label>
        <input type="text" class="form-control" id="image" name="image" placeholder="头像">
    </div>-->
    <input type="submit" value="注册" class="btn btn-default">
</form>
</body>
</html>